секлетор {
	свойство: значение;
	свойство: значение;
	свойство: значение;
	свойство: значение;
	свойство: значение;
}

секлетор {
	свойство: значение;
	свойство: значение;
	свойство: значение;
	свойство: значение;
	свойство: значение;
}

секлетор {
	свойство: значение;
	свойство: значение;
	свойство: значение;
	свойство: значение;
	свойство: значение;
}

секлетор {
	свойство: значение;
	свойство: значение;
	свойство: значение;
	свойство: значение;
	свойство: значение;
}


body {
	padding: 0px;
	margin: 0px;
}

div, p, input, button {
	box-sizing: border-box;
}

p {
    margin-top: 0.5em;
    margin-bottom: 1.6em;
	line-height: 1.38em;
}

article {
	width: 1170px;
	margin: 0px auto;
	position: relative;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
}